/* cyrillic-ext */
*
{
	font-family: 'Inter', sans-serif; /*? ajout de sans-serif*/
	font-style: normal;
}
body
{
	max-width: 1920px;
	margin: auto;
}

.top-header
{
	background-color: white;
	position: sticky;
	top:0;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

/*? ajout de width et height*/
.top-header .name {
	width: auto;
	height: auto;

	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}
.nav li {
	padding-inline: 10px;
}

/*? .nav en .top-header pour prendre le h1 */
.top-header a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.left
{
	width: 560px;
	height: 558px;
}
.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	/*?suppression de flex pour eviter les redimensionnement de l'image*/
	/* flex: 1; */
	margin: 0 20px;
	z-index: 0;
}

.picture img
{
	/*? ajout des valeurs "auto" pour afficher l'image sous sa taille*/
	width: auto;
	height: auto;
}
/*? ajout de width et height*/
#about-me {
	flex: 2;

	width: 1100px;
	height: auto;
}
/*? ajout de width*/
.about-me__title {
	width: 100%;

	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}
.about-me__introduction {
	font-family: 'Spectral', sans-serif; /*! genere layout shift */
	font-weight: 800;
	font-style: italic;

	/*? rajout suite à la modification d'une balise h6 en strong*/
	/* display: inline-block; */
	width: 60% !important;
	/* max-height: 72px; */
	/* height: 72px;
	min-height: 72px; */
	font-size: 1rem;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
#about-me p:not(.about-me__introduction) {
	width: 80%;
	font-size: 14px;
}
/*! layout shift*/
.title{
	text-align: center;
	padding-block: 2em;
}
.gallery .nav {
	justify-content: center;
}
/*? changement '.nav-link.active' => '.nav-link.active-tag' + suppression couleur #fff => = meilleur contraste + ajout cursor pointer */
.nav-pills .nav-link.active-tag, .nav-pills .show > .nav-link {
	/* color: #000; */
	background-color: #BEB45A;
	border-radius: 0;

	cursor: pointer;
}
.nav-pills .nav-link {
	color: #000
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;

}
.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;
}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

@media all and (max-width: 1180px) {
	/*?suppression de flex pour eviter les redimensionnement de l'image + ajout de règles sur l'img dans le HTML*/
	.picture.left {
		width: 420px;
		height: 419px;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h6, #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	#about-me
	{
		width: 100%;
	}
	/*?suppression de width pour eviter les redimensionnement de l'image et centrer l'image*/
	/* .picture {
		width: 50%;
	} */
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 40%; /*? 30% => 40%*/
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	/*?ajout de height et modification de width*/
	.picture.left {
		width: 224px;
		height: 223px;
	}
}

/*? CODE RAJOUTÉ */

.carousel-inner
{
	height: 888px;

	opacity: 0;

	transition: opacity ease-in-out 0.5s;
}
.carousel-item
{
	width: auto !important;
}
.carousel-item img
{
	height: auto;

	object-fit: cover;
	object-position: center;

	transition: transform 0.5s ease-in-out;
}

main
{
	width: 100%;
}

#about
{
	width: 100%;
}
/*? changement de div:nth-child(1) par .picture */
#about.picture
{
	width: 560px;
	height: 558px;
}

.modal
{
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);
}
.img-fluid
{
	width: auto;
	height: auto;
}

gallery-area
{
	transform-origin: top left;

	margin-left: 0 !important;
}

.modal>div
{
	max-width: 528px;
	height: 100%;

	margin: 0 auto;
	padding: 0 15px;

	pointer-events: none;
}
.modal-dialog
{
	max-width: 498px;
	height: 100%;

	margin: 0 !important;
}
.modal-dialog>*
{
	pointer-events: fill !important;
}
.modal-dialog img
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;

	width: 100%;

	background-color: rgba(255, 255, 255, 0.8);

	border: solid #fff 1rem;
	border-radius: 5px;
}

.infos
{
	justify-content: space-between;

	position: relative;
	/* top: 160px; */

	margin-top: 60px;
}
.infos>section
{
	width: 100%;

	margin-top: 10px;

	text-align: center;
}
.infos a
{
	color: black;
}